.DiscHolder {
    width:100px;
    height:100px;
    position:relative;
}
.SwingBox {
    width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
    animation: swing 3s infinite linear;
    -o-animation: swing 3s infinite linear;
    -ms-animation: swing 3s infinite linear;
    -webkit-animation: swing 3s infinite linear;
}
.Stick {
    position:relative;
    top:0;
    float:right;
    width:5%;
    height:80%;
    background-color:#CCC;
    z-index:999;
    right: -10%;
    -webkit-animation: play 2s ease both;
    -moz-animation: play 2s ease both;
    -ms-animation: play 2s ease both;
    animation: play 2s ease both;
}
.Disc {
    border-radius:999px;
    -moz-border-radius:999px;
    -webkit-border-radius:999px;
    background-color:#000;
    width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
    z-index:900;
    animation: DiscRotate 3s infinite linear;
    -o-animation: DiscRotate 3s infinite linear;
    -ms-animation: DiscRotate 3s infinite linear;
    -moz-animation: DiscRotate 3s infinite linear;
    -webkit-animation: DiscRotate 3s infinite linear;
}
.DiscCenter {
    border-radius:999px;
    -moz-border-radius:999px;
    -webkit-border-radius:999px;
    width:50%;
    height:50%;
    margin:auto;
    top:25%;
    position:relative;
    background-color:#fff;
    z-index:901;
}
.DiscCenter p {
    font-size:40%;
    margin:0;
    padding:0;
    line-height:1.5em;
    position:relative;
    top:10%;
   	text-align:center;
}
.DiscCenter:before {
    border-radius:999px;
    -moz-border-radius:999px;
    -webkit-border-radius:999px;
    width:10%;
    height:10%;
    margin:0;
    top:45%;
    left:45%;
    position:absolute;
    background-color:#000;
    z-index:902;
    content:"";
}
@-webkit-keyframes DiscRotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@-ms-keyframes DiscRotate {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(359deg);
    }
}
@keyframes DiscRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@-ms-keyframes swing {
    25% {
        -ms-transform: translateX(1%);
    }
    50% {
        -ms-transform: translateY(-1%);
    }
    75% {
        -ms-transform: translateX(-1%);
    }
    100% {
        -ms-transform: translateY(1%);
    }
}
@-o-keyframes swing {
    25% {
        -o-transform: translateX(1%);
    }
    50% {
        -o-transform: translateY(-1%);
    }
    75% {
        -o-transform: translateX(-1%);
    }
    100% {
        -o-transform: translateY(1%);
    }
}
@-webkit-keyframes swing {
    25% {
        -webkit-transform: translateX(1%);
        transform: translateX(1%);
    }
    50% {
        -webkit-transform: translateY(-1%);
        transform: translateY(-1%);
    }
    75% {
        -webkit-transform: translateX(-1%);
        transform: translateX(-1%);
    }
    100% {
        -webkit-transform: translateY(1%);
        transform: translateY(1%);
    }
}
@keyframes swing {
    25% {
        -webkit-transform: translateX(1%);
        transform: translateX(1%);
    }
    50% {
        -webkit-transform: translateY(-1%);
        transform: translateY(-1%);
    }
    75% {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1%);
    }
    100% {
        -webkit-transform: translateY(1%);
        transform: translateY(1%);
    }
}
@-webkit-keyframes play {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0);
    }
    100% {
        -webkit-transform: translate(-300%, 0%) rotate(20deg);
    }
}
@-ms-keyframes play {
    0% {
        -ms-transform: translate(0px, 0px) rotate(0);
    }
    100% {
        -ms-transform: translate(-300%, 0%) rotate(20deg);
    }
}
@keyframes play {
    0% {
        transform: translate(0px, 0px) rotate(0);
    }
    100% {
        transform: translate(-300%, 0%) rotate(20deg);
    }
}